body, a {
    margin: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    font-weight: 600;
    -webkit-text-stroke: 0.5px rgb(70, 70, 70);
    overflow: hidden;
}

#container {
    width: 100%; 
    height: 100vh; 
    background-color: #c0c0c0;
}

#float {
    position: absolute; 
    top: 0pt; 
    right: 10pt;
}

table {
    background: rgba(201, 201, 201, 0.5);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

th {
    color: white;
    text-align: left;
    padding: 2pt 5pt 2pt 5pt;
}

tr.dead {
    color: lightgray;
    -webkit-text-stroke: 0.5px rgb(104, 103, 103);
}

td.right {
    text-align: right;
}

td {
    padding: 2pt 5pt 2pt 5pt;
}

a { font-size: 100%; text-decoration: none; }
a:hover { text-decoration: none; }
